.hero {
    background: linear-gradient(45deg, violet, blue);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

textarea {
    width: 600px;
    height: 250px;
    background: #403d84;
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
}

select {
    color: bisque;
    height: 50px;
    width: 400px;
    margin: 20px;
    padding: 0 20px;
    background: #403d84;
    outline: 0;
    border: 0;
    border-radius: 5px;
}